
<h1>Projects</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Student Number</th>
    <th>1st Reader</th>
    <th>2nd Reader</th>
    <th>3rd Reader</th>
	<th>Date Modified</th>
	<th>Edit</th>
  </tr>
 
<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.student_no %></td>
    <td><%= project.first_reader %></td>
    <td><%= project.second_reader %></td>
    <td><%= project.third_reader %></td>
	<td><%= project.updated_at %></td>
	<td><%= link_to "Edit", project %></td>
  </tr>
<% end %>
</table>
 
<br>
 
