<p id="notice"><%= notice %></p>

<p>
  <strong>Staff id:</strong>
  <%= @admin_reader_entry.Staff_ID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @admin_reader_entry.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @admin_reader_entry.school %>
</p>

<p>
  <strong>Office location:</strong>
  <%= @admin_reader_entry.office_location %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_reader_entry.email %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @admin_reader_entry.availability %>
</p>

<p>
  <strong>Numberprojectssupervised:</strong>
  <%= @admin_reader_entry.NumberProjectsSupervised %>
</p>

<p>
  <strong>2nd reading:</strong>
  <%= @admin_reader_entry.2nd_reading %>
</p>

<p>
  <strong>3rd reading:</strong>
  <%= @admin_reader_entry.3rd_reading %>
</p>

<%= link_to 'Edit', edit_admin_reader_entry_path(@admin_reader_entry) %> |
<%= link_to 'Back', admin_reader_entries_path %>
