<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_creation.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_creation.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @admin_creation.password %>
</p>

<%= link_to 'Edit', edit_admin_creation_path(@admin_creation) %> |
<%= link_to 'Back', admin_creations_path %>
