<%= form_for(@project_entry) do |f| %>
  <% if @project_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_entry.errors.count, "error") %> prohibited this project_entry from being saved:</h2>

      <ul>
      <% @project_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Project_ID %><br>
    <%= f.number_field :Project_ID %>
  </div>
  <div class="field">
    <%= f.label :project_name %><br>
    <%= f.text_field :project_name %>
  </div>
  <div class="field">
    <%= f.label :student_no %><br>
    <%= f.number_field :student_no %>
  </div>
  <div class="field">
    <%= f.label :firstReader %><br>
    <%= f.text_field :firstReader %>
  </div>
  <div class="field">
    <%= f.label :secondReader %><br>
    <%= f.text_field :secondReader %>
  </div>
  <div class="field">
    <%= f.label :thirdReader %><br>
    <%= f.text_field :thirdReader %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
