<p id="notice"><%= notice %></p>

<p>
  <strong>Project id:</strong>
  <%= @project_entry.Project_ID %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @project_entry.project_name %>
</p>

<p>
  <strong>Student no:</strong>
  <%= @project_entry.student_no %>
</p>

<p>
  <strong>Firstreader:</strong>
  <%= @project_entry.firstReader %>
</p>

<p>
  <strong>Secondreader:</strong>
  <%= @project_entry.secondReader %>
</p>

<p>
  <strong>Thirdreader:</strong>
  <%= @project_entry.thirdReader %>
</p>

<%= link_to 'Edit', edit_project_entry_path(@project_entry), class: 'btn btn-default' %> |
<%= link_to 'Back', project_entries_path, class: 'btn btn-default' %>
