<p id="notice"><%= notice %></p>
<%= image_tag "tcd.jpg" %>
<div class= "Sign_Form">
  <h1>Log in</h1>
    <%= form_tag() do %>
    <p>Username or Email:</br> <%= text_field_tag(:username_or_email) %></p> 
    <p>Password:</br> <%= password_field_tag :login_password %></p> 
    <% @log_in = password_field_tag :login_password%>
    
    <%= submit_tag("Log In") %>
  <% end %>
</div>

<!-- <h1>Listing Log Ins</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @log_ins.each do |log_in| %>
      <tr>
        
        <td><%= log_in.email %></td>
        <td><%= log_in.password %></td>
        <td><%= link_to 'Show', log_in %></td>
        <td><%= link_to 'Edit', edit_log_in_path(log_in) %></td>
        <td><%= link_to 'Destroy', log_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->